
body {
    margin: 0;
    background-image: url(assets/background3.png);
    background-size: cover;
}


header {
    height: 17vmin;
    width: 100%;
    text-align: center;
}

header > img {
    width: 30%;
}


.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main{
    display: flex;
    justify-content: center;
    transition-duration: 2s;
}

.row,
.cell {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.side {
    max-height: 600px;
    max-width: 300px;
    height: 70vh;
    width: 20vw;
    display: inline-block;
    transition-duration: 2s;
}

.cowboy {
    background-image: url(assets/cowboy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    margin-right: 5%;
}

.indian {
    background-image: url(assets/indian.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    margin-left: 5%;
}

.playerTurn {
    opacity: 1;
}

.board-container {
    font-size: 0;
    display: inline-block;
    flex-direction: column;
    max-width: 600px;
    max-height: 600px;
    width: 95vw;
    height: 70vh;
    box-sizing: content-box;
    border: 5px brown solid;
    background-color: green;
    #justify-content: center;
    transition-duration: 2s;
    transform-origin: center;

}
.shrink{
    transition: .5s;
    opacity: 0;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    height: 0;
    width: 0;
}
.collapse{
    margin: 0;
}
.row {
    display: flex;
    #flex-direction: column;
    #border: 1px blue solid;
    width: 100%;
    height: 12.5%;
}

.cell {
    display: inline-flex;
    border: 1px white solid;
    width: 12.5%;
    height: 100%;
    align-content: center;
    justify-content: center;

}

.black {
    margin-top: 5%;
    border-radius: 50%;
    background-color: black;
    height: 90%;
    width: 90%;
    justify-content: center;
    background-image: url(assets/cowboy2.svg);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}

.white {
    margin-top: 5%;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    height: 90%;
    width: 90%;
    background-image: url(assets/indian.svg);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center
}

.valid{
    opacity: 0.5;
    background-color: yellow;
}
/*.valid:hover{  for further implementation when a function is built for it*/
    /*opacity: 0.5;*/
/*}*/

.whiteDivProgress{
    margin: 0.5%;
    height: 3vmin;
    width: 65vmin;
    background-color: white;
    position: relative;
    box-sizing: border-box;
    border: 1px solid black;
}
.whiteDivProgress::after {
    background-image: url(assets/indian.gif);
    background-size: 27%;
    background-repeat: no-repeat;
    background-position-y: center;
    content: "";
    height: 100%;
    width: 8vw;
    position: absolute;
    display: inline-block;

}

.blackDivProgress {
    height: 100%;
    width: 50%;
    background-color: black;
    transition-duration: 1.5s;
    position: relative;
    display: inline-block;
}
.blackDivProgress>img{
    position: absolute;
    height: 100%;
    right: 0;
}

.score{
    margin: 0.5%;
    margin-top: 0;
    width: 65vmin;
    display: flex;
    justify-content: space-evenly;
    font-family: West1;
    font-size: 3vmin;

}

.reserve-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chip-reserve {
    width: 700px;
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
    font-family: West1;
    font-size: 3vmin;
}

.popAxe {
    height: 10%;
    width: 10%;
    position: absolute;
    -webkit-animation: spin .5s linear infinite, move 2s linear;
}


.popGun {
    height: 12%;
    width: 12%;
    position: absolute;
    -webkit-animation: gun .5s linear;

}
.introWrapper{
    display: block;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);;
    transition-duration: 2s;
}
.modal{
    top: 5%;
    left: 15%;
    right: 15%;
    bottom: 5%;
    margin: auto;
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    padding: 5px;
    font-family: West1;
    color: white;;
    transition-duration: 2s;
}
.settings{
    background-color: red;
    width: 50vmin;
    height: 50vmin;
}
.dev{
    width: 80vmin;
    height: 80vmin;
    background-color: green;
}
.rules{
    background-color: #0f192a;
    transform-origin: top;
}
.hideLeft{
    left: -200%;
}
.hideRight{
    right: -200%;

}
.hideTop{
    top: -200%;
    opacity: 0;
}
@font-face {
   font-family: West1;
    src: url(RioGrande.ttf)
}
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

@keyframes move { 100% { left: -50%; } }

@keyframes gun { 50% { transform: rotate(-45deg)}
100% { transform: rotate(0deg)}}
